.fadex-enter-active {
    transition: opacity 0.1s ease;
}

.fadex-leave-active {
    transition: opacity 0.4s ease;
    transition-delay: 1s;
}

.fadex-enter-from,
.fadex-leave-to {
    opacity: 0;
}
.fade-slide-enter-active {
    transition: all 0.3s ease-in-out;
}

/* .fade-slide-leave-active {
    transition: all 0.1s ease-out;
} */

.fade-slide-enter-from,
.fade-slide-leave-to {
    opacity: 0;
    transform: translateX(-20px);
}

.fade-slide-enter-to,
.fade-slide-leave-from {
    opacity: 1;
    transform: translateX(0px);
}
@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}



@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}