@font-face {
    font-family: 'GROBOLD';
    src: url('GROBOLD.eot');
    src: url('GROBOLD.eot?#iefix') format('embedded-opentype'),
        url('GROBOLD.woff2') format('woff2'),
        url('GROBOLD.woff') format('woff'),
        url('GROBOLD.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handbuck';
    src: url('Handbuck-Regular.eot');
    src: url('Handbuck-Regular.eot?#iefix') format('embedded-opentype'),
        url('Handbuck-Regular.woff2') format('woff2'),
        url('Handbuck-Regular.woff') format('woff'),
        url('Handbuck-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

